body{
    background-color: yellow;
}
h1{
    color: red;
}
@media only screen and (min-width:600px) {
    body{
        background-color: black;
    }
    h1{
        color: white;
    }
}

@media screen and (min-width:1024px) {
    body{
        background-color: green;
    }
    h1{
        color: yellow;
    }
}