*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "AnotherDay";
    src: url("../fonts/AnotherDay.ttf");
}
body{
    font-family: AnotherDay;
}
h1 {
    color: rgba(61, 74, 213, 0.563);
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    margin: 1rem;
}
img {
    width: 300px;
}
.img {
    background-color:rgba(61, 74, 213, 0.563);
}

.imgescritorio {
    width: 350px;
}

p {
    color: rgba(61, 74, 213, 0.563);
    padding: 20px;
    margin: 10px;
}

.cuerpo {
    background-color: rgba(71, 37, 97, 0.369);
}

.overFlow{
width: 300px;
height: 200px;
margin: 100px;
padding: 0px;
border: solid 1px;
overflow: auto;
}

.overFlow p {
    text-align: center;
    line-height: 1.5;
}

